<app-breadcrumb
  [title]="'User Profile'"
  [items]="['Users']"
  [active_item]="'User Profile'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-lg-12 col-sm-12 mb-3">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="User Info">
            <ng-template ngbPanelContent>
              <div class="col-sm-12">
                <div class="card hovercard text-center">
                  <div class="user-image">
                    <div class="avatar">
                      <img alt="" [src]="userData?.image ? userData?.image : 'assets/images/user/1.jpg' " />
                    </div>
                  </div>
                  <div class="info">
                    <div class="row">
                      <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="ttl-info text-left">
                              <h6><i class="fa fa-envelope"></i>   Email</h6>
                              <span>{{ userData?.email }}</span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ttl-info text-left">
                              <h6>
                                <i class="fa fa-calendar"></i>   Registered On
                              </h6>
                              <span>{{ userData?.created_at | date: 'dd/MM/yyyy' }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                        <div class="user-designation">
                          <div class="title">
                            <a target="_blank" href="">{{ userData?.name }}</a>
                          </div>
                          <div class="desc mt-2">{{ userData?.type }}</div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="ttl-info text-left">
                              <h6><i class="fa fa-phone"></i>   Contact Me</h6>
                              <span> {{ userData?.phone }}</span>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ttl-info text-center wallet">
                              <h6>
                                <i class="fa fa-credit-card"></i>   Wallet
                              </h6>
                              <span>{{
                                userData?.wallet
                                | currency: "USD"}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-lg-12 col-sm-12 mb-3">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Cards">
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-3" *ngFor="let card of cards; index as i">
                  <div class="cstmcard">
                    <div class="card__front card__part">
                      <img
                        class="card__front-square card__square"
                        src="assets/1x/cardchip.png"
                      />
                      <img
                        class="card__front-logo card__logo"
                        src="{{ card.type }}"
                      />
                      <p class="card_numer">{{ card.card_no }}</p>
                      <div class="card__space-75">
                        <span class="card__label">Card holder</span>
                        <p class="card__info">{{ card.card_name }}</p>
                      </div>
                      <div class="card__space-25">
                        <span class="card__label">Expires</span>
                        <p class="card__info">{{ card.card_expiry }}</p>
                      </div>
                    </div>

                    <div class="card__back card__part">
                      <div class="card__black-line"></div>
                      <div class="card__back-content">
                        <div class="card__secret">
                          <p class="card__secret--last">{{ card.card_cvv }}</p>
                        </div>
                        <img
                          class="card__back-square card__square"
                          src="assets/1x/cardchip.png"
                        />

                        <img
                          class="card__back-logo card__logo"
                          *ngIf="card.card_type == 'visa'"
                          src="assets/1x/visa.png"
                        />
                        <img
                          class="card__back-logo card__logo"
                          *ngIf="card.card_type == 'mastercard'"
                          src="assets/1x/mastercard.png"
                        />
                        <img
                          class="card__back-logo card__logo"
                          *ngIf="card.card_type == 'paypal'"
                          src="assets/1x/paypal.png"
                        />
                        <img
                          class="card__back-logo card__logo"
                          *ngIf="card.card_type == 'unionpay'"
                          src="assets/1x/unionpay.png"
                        />
                      </div>
                    </div>
                  </div>
                  <p *ngIf="cards.length === 0" class="noResult">No Cards Found</p>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-lg-12 col-sm-12 mb-3">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Transactions History">
            <ng-template ngbPanelContent>
              <div class="currentOrder">
                <div class="" >
                  
                  <div class="row" *ngFor="let item of depositHistory | paginate: { itemsPerPage: 3, currentPage: p, id:'pagi1' }; index as i">
                    <div class="col">
                      <div class="leaperName">
                        <label for="">Card Title</label>
                        <h6>{{ item?.card?.card_name }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="leaperDeal">
                        <label for="">Card No</label>
                        <h6>{{ item?.card?.card_no }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="dealPrice">
                        <label for="">Deposit</label>
                        <h6>{{ item.amount | currency: "USD" }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="coupanDate">
                        <label for="">Transaction Date</label>
                        <h6>{{ item.created_at | date:'fullDate' }} {{item.created_at | date:'h:mm a z'}}</h6>
                      </div>
                    </div>
                  </div>

                  <p *ngIf="depositHistory.length === 0" class="noResult">No Transactions Found</p>
                  <pagination-controls *ngIf="depositHistory.length > 0" (pageChange)="p = $event" previousLabel="" nextLabel="" id="pagi1">
                  </pagination-controls>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-lg-12 col-sm-12 mb-3">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Donation History">
            <ng-template ngbPanelContent>
              <div class="completedOrders">
                <div class="" >
                  <div class="row" *ngFor="let item of currenttransaction | paginate: {itemsPerPage: 3, currentPage: currentTransactionPages, id:'pagi2'};index as i">
                    <div class="col">
                      <div class="leaperName">
                        <label for="">Leaper Name</label>
                        <h6>{{ item.leaper_name }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="leaperDeal">
                        <label for="">DOB</label>
                        <h6>{{ item.leaper_dob }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="dealPrice">
                        <label for="">Coupon</label>
                        <h6>{{ item.coupon }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="coupanDate">
                        <label for="">Deal Price</label>
                        <h6>{{ item.deal?.deal_price | currency: "USD" }}</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="coupanDate">
                        <label for="">Date</label>
                        <h6>{{ item.created_at | date:'fullDate' }} {{ item.created_at | date:'h:mm a z' }}</h6>
                      </div>
                    </div>
                  </div>
                  <p *ngIf="currenttransaction.length === 0" class="noResult">No Transactions Found</p>
                  <pagination-controls *ngIf="currenttransaction.length > 1" (pageChange)="currentTransactionPages = $event" previousLabel="" nextLabel="" id="pagi2">
                  </pagination-controls>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
