<app-breadcrumb [title]="'Users'" [active_item]="'Users'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body custom-datatable">
          <div class="searchBox d-flex justify-content-between">
            <input type="text" class="filter-ngx form-control" placeholder='Search by name or email' [(ngModel)]="term"/>
            <button class="btn btn-primary" id="addBtn" (click)="openAdd(add)">
              <i class='fa fa-plus'></i>
            </button>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Email</th>
                  <th scope="col">Registration</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let user of company | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total} |filter:term">
                  <th scope="row">{{user?.id}}</th>
                  <td>{{user?.name}}</td>
                  <td>{{user?.owner}}</td>
                  <td>{{user?.email}}</td>
                  <td>{{user?.created_at | date: 'dd/MM/yyyy'}}</td>
                  <td> 
                    <div class="toggleBtn">
                      <label class="switch"><input type="checkbox" (change)="status(user?.id, $event)"
                          [checked]="user.status == 1 ? true : false" />
                        <div></div>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex actionsBtn">
                      <button class="btn btn-dark" (click)="userDetails(user?.id)">
                        <i class='fa fa-eye'></i>
                      </button>
                      <button class="btn btn-primary" (click)="openEdit(edit, user)">
                        <i class='fa fa-pencil'></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event;"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit info modals -->
<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
          <div class="imgBox">
            <div class="avatar">
              <img alt="" [src]="url? url: restaurantData?.user?.image">
            </div>
            <input id="dashboardLogo" class="upload" type="file" (change)="readUrl($event)" hidden />
            <label for="dashboardLogo" class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></label>
          </div>
        </div>
          <div class="col-lg-6 mt-3">
            <label for="name">Name</label>
            <div class="input-group">
              <input class="form-control" placeholder="Name" formControlName="name">
            </div>
          </div>
          <div class="col-lg-6 mt-3">
            <label for="email">Password</label>
            <div class="input-group">
              <input class="form-control" placeholder="Password" formControlName="password" type="password">
            </div>
          </div>
          <div class="col-lg-6 mt-3">
            <label for="phone">Phone</label>
            <div class="input-group">
              <input class="form-control" placeholder="Phone" formControlName="phone" type="text" (keypress)="numberOnly($event)">
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); dealAdd()">Save</button>
  </div>
</ng-template>



<!-- add info modals -->
<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm">
      <div class="row">
        <div class="col-lg-6 mt-3">
          <label for="name">Name</label>
          <div class="input-group">
            <input  class="form-control" placeholder="Name" formControlName="name">
          </div>
          <div *ngIf="addForm.controls.name.touched && addForm.controls.name.errors?.required"
                                        class="text text-danger mt-1 mb-1">
                                        Name is required
                                    </div>
        </div>
        <div class="col-lg-6 mt-3">
          <label for="email">Email</label>
          <div class="input-group">
            <input  class="form-control" placeholder="Email" formControlName="email" type="email">
          </div>
          <div *ngIf="addForm.controls.email.touched && addForm.controls.email.errors?.required"
                                        class="text text-danger mt-1 mb-1">
                                        Email is required
          </div>
          <div *ngIf="addForm.controls.email.touched && addForm.controls.email.errors?.email"
                                        class="text text-danger mt-1 mb-3">
                                        Invalid Email
          </div>
        </div>
        <div class="col-lg-6 mt-3">
          <label for="email">Password</label>
          <div class="input-group">
            <input  class="form-control" placeholder="Password" formControlName="password" type="password">
          </div>
          <div *ngIf="addForm.controls.password.touched && addForm.controls.password.errors?.required"
                                        class="text text-danger mt-1 mb-1">
                                        Password is required
                                    </div>
        </div>
        <div class="col-lg-6 mt-3">
          <label for="email">Confirm Password</label>
          <div class="input-group">
            <input  class="form-control" placeholder="Confirm Password" formControlName="confirm_password" type="password">
          </div>
          <div *ngIf="addForm.controls.confirm_password.touched && addForm.controls.confirm_password.errors?.required"
                                        class="text text-danger mt-1 mb-1">
                                        Confirm Password is required
                                    </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addUser();">Save</button>
  </div>
</ng-template>